.App {
  text-align: center;
}


.header {
  display: flex;
  justify-content: space-between;
  background-color: aliceblue;
  height: fit-content;
}

.menu-top{
  display: flex;
}

.menu-content{
  display: flex;
}

.menu-top ul {
  list-style-type: none;
}

.make-right{
  display: flex;
  float: right;
  padding-right: 3.68%;
  align-items: center;
}

.logo-in{
  height: 80px;
}

.body-content{
  font-size:x-large;
  text-decoration: none;
  color: black;
  text-align: center;
  position: relative;
}

.body-content .image{
  height: auto;
  width: auto;
  padding-bottom: 20px;
}

.body-content .text{
  /* position: absolute; */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.body-content:hover{
  color: grey;
}

.body-span{
  text-align:center;
}


.footer{
  display: block;
  background-color: #003c5b;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  padding: 34px 0 21px;
}

.footer-phonenumber{
  font-size: x-large;
  display: flex;
  color: white;
  margin-left: 50px;
}



